* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #002F75;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home {
    background-image: url(../img/image-laguna-pousada-quinta-do-ypua-1\ 1\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    display: flex;
  }
  
  
  .aside-btn a {
    background-color: #429ED2;
    padding: 25px 100px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 30pt;
  }
  .aside-btn{
    width: 340px;
    margin:100px auto;
  }
  .logo-inicial img{
    width: 700px;
    height: 700px;
    margin-top: -40px;
  }
  