<link rel="stylesheet" href="/css/home.css">
<body class="home">
    <section class="home-conteudo">
      <div class="logo-inicial"><img  src="/img/logo 1.png" alt=""></div>
         <aside class="aside-btn">
          <a href="/telaInicial">Entrar</a>
         </aside>
    </section>
</body>

