<link rel="stylesheet" href="/css/telaInicial.css">

<div class="container">
  <img class="logo" src="/img/logo 1.png" alt="">
  <div class="month">
    <i class="fas fa-angle-left prev"></i>
    <div class="date">
      <h1></h1>
    </div>
    <i class="fas fa-angle-right next"></i>
  </div>
  <section class="calendar">
    <div class="weekdays">
      <h1>Dom</h1>
      <h1>Seg</h1>
      <h1>Ter</h1>
      <h1>Qua</h1>
      <h1>Qui</h1>
      <h1>Sex</h1>
      <h1>Sab</h1>
    </div>

    <a href="/reserva" class="days"></a>

  </section>
</div>

<script src="/js/days.js"></script>